<!DOCTYPE HTML>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
	<!--=== basic ===-->
	<meta charset="UTF-8">
	<title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="robots" content="index, follow" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<!--=== css ===-->
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/yourstyle.css">
	<!--=== favicons ===-->
	<link rel="shortcut icon" href="images/favicon.ico">
</head>

<body>

	<!--=== loader ===-->
	<div class="loader">
		<div id="movingBallG">
			<div class="movingBallLineG"></div>
			<div id="movingBallG_1" class="movingBallG"></div>
		</div>
	</div>
	<!--=== loader end ===-->

	<!--=== Main ===-->
	<div id="main">

		<!--=== header ===-->
		{{ partial "header" . }}
		<!--=== header end ===-->

		<!--=== Home-slider ===-->
		{{ if .IsHome }}
		{{ block "home-slider" . }}{{ end }}
		{{ end }}
		<!--=== Home-slider end ===-->

		<!--=== Page-content ===-->
		<div class="content">
			{{ block "content" . }}{{ end }}
		</div>
		<!--=== Page-content end ===-->

		<div class="height-emulator"></div>

		<!--=== content-footer ===-->
		{{ partial "footer" . }}
		<!--=== content-footer ===-->

		<!--=== leftbar-social ===-->
		{{ partial "leftbar" . }}
		<!--=== leftbar-social end===-->
	</div>
	<!--=== Main end ===-->

	<!--=== scripts ===-->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
	<!--=== scripts ===-->

</body>

</html>
