{{ define "content" }}

<!--=== page-hero ===-->
<section class="parallax-section header-section" data-scrollax-parent="true" id="sec1">
    <div class="bg" data-bg="images/bg/2.jpg" data-scrollax="properties: { translateY: '200px' }">
    </div>
    <div class="overlay"></div>
    <div class="container big-container">
        <div class="section-title">
            <h3>Our Works</h3>
            <div class="separator trsp-separator"></div>
            <h2>Porfolio Boxed</h2>
            <p>Curabitur bibendum mi sed rhoncus aliquet. Nulla blandit porttitor justo, at posuere
                sem accumsan nec.</p>
            <a href="#sec2" class="custom-scroll-link sect-scroll-link"><i class="fa fa-long-arrow-down"></i>
                <span>scroll down</span></a>
        </div>
    </div>
</section>
<!--=== page-hero end ===-->

<!--=== filter-section ===-->
<section id="sec2">
    <div class="container">
        <!--=== filter ===-->
        <div class="filter-holder inline-filter bold-filter fl-wrap">
            <div class="filter-button"><span>Filter : </span></div>
            <div class="gallery-filters">
                <a href="#" class="gallery-filter gallery-filter-active" data-filter="*">All
                    Works</a>
                <a href="#" class="gallery-filter " data-filter=".houses">Houses</a>
                <a href="#" class="gallery-filter" data-filter=".apartments">Apartments</a>
                <a href="#" class="gallery-filter" data-filter=".interior">Interior</a>
                <a href="#" class="gallery-filter" data-filter=".design">Design</a>
            </div>
            <div class="count-folio">
                <div class="num-album"></div>
                <div class="all-album"></div>
            </div>
        </div>
        <!--=== filter end ===-->
    </div>

    <div class="clearfix"></div>

    <!-- gallery-items -->
    <div class="gallery-items vis-por-info three-coulms">
        <!-- 1 -->
        <div class="gallery-item houses apartments">
            <div class="grid-item-holder">
                <div class="box-item">
                    <img src="images/folio/1.jpg" alt="">
                    <div class="overlay"></div>
                    <a href="images/folio/1.jpg" class="image-popup popup-image"><i class="fa fa-search"></i></a>
                </div>
                <div class="grid-item">
                    <h3><a href="portfolio-single.html">Trinity River Audubon Centre</a></h3>
                    <span>Hoses / Apartments</span>
                </div>
            </div>
        </div>
        <!-- 1 end -->
        <!-- 2 -->
        <div class="gallery-item houses interior">
            <div class="grid-item-holder">
                <div class="box-item">
                    <img src="images/folio/2.jpg" alt="">
                    <div class="overlay"></div>
                    <a href="images/folio/2.jpg" class="image-popup popup-image"><i class="fa fa-search"></i></a>
                </div>
                <div class="grid-item">
                    <h3><a href="portfolio-single.html">Theatre de Stoep</a></h3>
                    <span>Hoses / Interior</span>
                </div>
            </div>
        </div>
        <!-- 2 end -->
        <!-- 4 -->
        <div class="gallery-item  interior design">
            <div class="grid-item-holder">
                <div class="box-item">
                    <img src="images/folio/4.jpg" alt="">
                    <div class="overlay"></div>
                    <a href="images/folio/4.jpg" class="image-popup popup-image"><i class="fa fa-search"></i></a>
                </div>
                <div class="grid-item">
                    <h3><a href="portfolio-single.html">New Acropolis Museum</a></h3>
                    <span>Interior / Design</span>
                </div>
            </div>
        </div>
        <!-- 4 end -->
        <!-- 5 -->
        <div class="gallery-item houses design">
            <div class="grid-item-holder">
                <div class="box-item">
                    <img src="images/folio/5.jpg" alt="">
                    <div class="overlay"></div>
                    <a href="images/folio/5.jpg" class="image-popup popup-image"><i class="fa fa-search"></i></a>
                </div>
                <div class="grid-item">
                    <h3><a href="portfolio-single.html">Alesia Museum</a></h3>
                    <span>Hoses Design</span>
                </div>
            </div>
        </div>
        <!-- 5 end -->
        <!-- 7 -->
        <div class="gallery-item interior design">
            <div class="grid-item-holder">
                <div class="box-item">
                    <img src="images/folio/7.jpg" alt="">
                    <div class="overlay"></div>
                    <a href="images/folio/7.jpg" class="image-popup popup-image"><i class="fa fa-search"></i></a>
                </div>
                <div class="grid-item">
                    <h3><a href="portfolio-single.html">West 57th Street</a></h3>
                    <span>Interior / Design</span>
                </div>
            </div>
        </div>
        <!-- 7 end -->
        <!-- 8 -->
        <div class="gallery-item apartments interior">
            <div class="grid-item-holder">
                <div class="box-item">
                    <img src="images/folio/8.jpg" alt="">
                    <div class="overlay"></div>
                    <a href="images/folio/8.jpg" class="image-popup popup-image"><i class="fa fa-search"></i></a>
                </div>
                <div class="grid-item">
                    <h3><a href="portfolio-single.html">Petronas Tower</a></h3>
                    <span>Apartments / Interior</span>
                </div>
            </div>
        </div>
        <!-- 8 end -->
        <!-- 9 -->
        <div class="gallery-item houses design">
            <div class="grid-item-holder">
                <div class="box-item">
                    <img src="images/folio/9.jpg" alt="">
                    <div class="overlay"></div>
                    <a href="images/folio/9.jpg" class="image-popup popup-image"><i class="fa fa-search"></i></a>
                </div>
                <div class="grid-item">
                    <h3><a href="portfolio-single.html">BOK Centre</a></h3>
                    <span>Houses / Design</span>
                </div>
            </div>
        </div>
        <!-- 9 end -->
        <!-- 10 -->
        <div class="gallery-item design">
            <div class="grid-item-holder">
                <div class="box-item">
                    <img src="images/folio/10.jpg" alt="">
                    <div class="overlay"></div>
                    <a href="images/folio/10.jpg" class="image-popup popup-image"><i class="fa fa-search"></i></a>
                </div>
                <div class="grid-item">
                    <h3><a href="portfolio-single.html">Art Cultural Centre</a></h3>
                    <span>Design / Interior</span>
                </div>
            </div>
        </div>
        <!-- 10 end -->
        <!-- 11 -->
        <div class="gallery-item apartments interior">
            <div class="grid-item-holder">
                <div class="box-item">
                    <img src="images/folio/11.jpg" alt="">
                    <div class="overlay"></div>
                    <a href="images/folio/11.jpg" class="image-popup popup-image"><i class="fa fa-search"></i></a>
                </div>
                <div class="grid-item">
                    <h3><a href="portfolio-single.html">One World Trade Centre</a></h3>
                    <span>Apartments / Interior</span>
                </div>
            </div>
        </div>
        <!-- 11 end -->
    </div>
    <!-- end gallery items -->
    <div class="clearfix"></div>
    <div class="container">
        <div class="order-item fl-wrap margin-content">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-5">
                    <h3>Ready to order your project ? </h3>
                </div>
                <div class="col-md-3"><a href="contact.html" class="btn float-btn flat-btn">Get in
                        Touch</a></div>
            </div>
        </div>
    </div>
    <div class="partcile-dec" data-parcount="200"></div>
    <!--=== filter-section end ===-->
</section>
{{ end }}
