{{ partial "head.html" . }}

<!--=== Main ===-->
<div id="main">

	<!--=== header ===-->
	{{ partial "header" . }}
	<!--=== header end ===-->

	<!--=== Page-content ===-->
	<div class="content">
		{{ block "content" . }}{{ end }}
	</div>
	<!--=== Page-content end ===-->

	<div class="height-emulator"></div>

	<!--=== content-footer ===-->
	{{ partial "footer" . }}
	<!--=== content-footer ===-->

	<!--=== leftbar-social ===-->
	{{ partial "leftbar" . }}
	<!--=== leftbar-social end===-->
</div>
<!--=== Main end ===-->

<!--=== scripts ===-->
<script src="../js/jquery.min.js"></script>
<script src="../js/plugins.js"></script>
<script src="../js/scripts.js"></script>
<!--=== scripts ===-->

</body>

</html>
