{{ define "content" }}

<!--=== Page-hero ===-->
<section class="parallax-section header-section" data-scrollax-parent="true">
	<div class="bg" data-bg="images/bg/2.jpg" data-scrollax="properties: { translateY: '200px' }"></div>
	<div class="overlay op1"></div>
	<div class="container big-container">
		<div class="section-title">
			<h3>Our Blog</h3>
			<div class="separator trsp-separator"></div>
			<h2>Our Journal<br> Grid </h2>
			<p>Curabitur bibendum mi sed rhoncus aliquet. Nulla blandit porttitor justo, at posuere sem accumsan
				nec.</p>
			<a href="#sec1" class="custom-scroll-link sect-scroll-link"><i class="fa fa-long-arrow-down"></i>
				<span>scroll down</span></a>
		</div>
	</div>
</section>
<!--=== Page-hero end ===-->

<!--=== Posts-list ===-->
<section id="sec1">

	<!--=== post-container ===-->
	<div class="post-container fwpost-container fl-wrap">
		<div class="container">
			<!-- Filter -->
			<div class="fl-wrap  blog-filters-wrap">
				<!-- filter -->
				<div class="blog-filters fl-wrap">
					<span>Filter by: </span>
					<!-- filter tag -->
					<div class="tag-filter blog-btn-filter">
						<div class="blog-btn">Tags <i class="fa fa-tags"></i></div>
						<ul>
							<li><a href="#">Gallery</a></li>
							<li><a href="#">People</a></li>
							<li><a href="#">Nature</a></li>
							<li><a href="#">Comercial</a></li>
							<li><a href="#">Travel</a></li>
						</ul>
					</div>
					<!-- filter tag end -->
					<!-- filter category -->
					<div class="category-filter blog-btn-filter">
						<div class="blog-btn">Categories <i class="fa fa-list-ul"></i></div>
						<ul>
							<li><a href="#">Gallery</a></li>
							<li><a href="#">People</a></li>
							<li><a href="#">Nature</a></li>
							<li><a href="#">Comercial</a></li>
							<li><a href="#">Travel</a></li>
						</ul>
					</div>
					<!-- filter category end -->
				</div>
				<!-- filter end -->
			</div>
			<!-- filter end -->
		</div>
		<div class="clearfix"></div>
		<!-- grid items -->
		<div class="gallery-items grid-no-pad hid-por-info three-columns">

			<!-- grid item 01 -->
			<div class="gallery-item">
				<div class="grid-item-holder">
					<!-- post -->
					<div class="post fl-wrap masonry-post">
						<h2><span>Placerat ornare ut</span></h2>
						<ul class="blog-title-opt">
							<li><a href="#">12 may 2017</a></li>
							<li> - </li>
							<li><a href="#">Interviews </a></li>
							<li><a href="#">Design</a></li>
						</ul>
						<!-- blog media -->
						<div class="blog-media fl-wrap">
							<a href="blog-single.html"><img src="images/folio/7.jpg" alt=""></a>
						</div>
						<!-- blog media end -->
						<div class="blog-text fl-wrap">
							<h3><a href="blog-single.html">Aliquip pertinax <strong>vix ad </strong></a></h3>
							<p>
								Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Donec suscipit
								ultricies risus sed mollis. Donec volutpat porta risus posuere imperdiet. Sed viverra dolor
								sed dolor placerat ornare ut . Integer iaculis tellus nulla, quis imperdiet magna venenatis
								vitae..
							</p>
							<a href="blog-single.html" class="btn float-btn flat-btn">Read more </a>
							<ul class="post-counter">
								<li><i class="fa fa-eye"></i><span>687</span></li>
								<li><i class="fa fa-comment-o"></i><span>10</span></li>
							</ul>
						</div>
					</div>
					<!-- post end-->
				</div>
			</div>
			<!-- grid item 01 end -->


			<!-- grid item 02 -->
			<div class="gallery-item">
				<div class="grid-item-holder">
					<!-- post -->
					<div class="post fl-wrap masonry-post">
						<h2><span>Venenatis vitae</span></h2>
						<ul class="blog-title-opt">
							<li><a href="#">12 may 2017</a></li>
							<li> - </li>
							<li><a href="#">Interviews </a></li>
							<li><a href="#">Design</a></li>
						</ul>
						<!-- blog media -->
						<div class="blog-media fl-wrap">
							<a href="blog-single.html"><img src="images/folio/5.jpg" alt=""></a>
						</div>
						<!-- blog media end -->
						<div class="blog-text fl-wrap">
							<h3><a href="blog-single.html">Aliquip pertinax <strong>vix ad </strong></a></h3>
							<p>
								Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Donec suscipit
								ultricies risus sed mollis. Donec volutpat porta risus posuere imperdiet. Sed viverra dolor
								sed dolor placerat ornare ut . Integer iaculis tellus nulla, quis imperdiet magna venenatis
								vitae..
							</p>
							<a href="blog-single.html" class="btn float-btn flat-btn">Read more </a>
							<ul class="post-counter">
								<li><i class="fa fa-eye"></i><span>687</span></li>
								<li><i class="fa fa-comment-o"></i><span>10</span></li>
							</ul>
						</div>
					</div>
					<!-- post end-->
				</div>
			</div>
			<!-- grid item 02 end -->
			<!-- grid item 03 -->
			<div class="gallery-item">
				<div class="grid-item-holder">
					<!-- post -->
					<div class="post fl-wrap masonry-post">
						<h2><span>Elit diceret duo</span></h2>
						<ul class="blog-title-opt">
							<li><a href="#">12 may 2017</a></li>
							<li> - </li>
							<li><a href="#">Interviews </a></li>
							<li><a href="#">Design</a></li>
						</ul>
						<!-- blog media -->
						<div class="blog-media fl-wrap">
							<div class="single-slider fl-wrap" data-effects="slide">
								<div class="swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide"><img src="images/folio/11.jpg" alt=""></div>
										<div class="swiper-slide"><img src="images/folio/14.jpg" alt=""></div>
										<div class="swiper-slide"><img src="images/folio/16.jpg" alt=""></div>
									</div>
									<div class="swiper-pagination"></div>
									<div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
									<div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
								</div>
							</div>
						</div>
						<!-- blog media end -->
						<div class="blog-text fl-wrap">
							<h3><a href="blog-single.html">Aliquip pertinax <strong>vix ad </strong></a></h3>
							<p>
								Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Donec suscipit
								ultricies risus sed mollis. Donec volutpat porta risus posuere imperdiet. Sed viverra dolor
								sed dolor placerat ornare ut . Integer iaculis tellus nulla, quis imperdiet magna venenatis
								vitae..
							</p>
							<a href="blog-single.html" class="btn float-btn flat-btn">Read more </a>
							<ul class="post-counter">
								<li><i class="fa fa-eye"></i><span>687</span></li>
								<li><i class="fa fa-comment-o"></i><span>10</span></li>
							</ul>
						</div>
					</div>
					<!-- post end-->
				</div>
			</div>
			<!-- grid item 03 end -->
			<!-- grid item 04 -->
			<div class="gallery-item">
				<div class="grid-item-holder">
					<!-- post -->
					<div class="post fl-wrap masonry-post">
						<h2><span>Lorem ipsum dolor sit amet</span></h2>
						<ul class="blog-title-opt">
							<li><a href="#">12 may 2017</a></li>
							<li> - </li>
							<li><a href="#">Interviews </a></li>
							<li><a href="#">Design</a></li>
						</ul>
						<!-- blog media -->
						<div class="blog-media fl-wrap">
							<a href="blog-single.html"><img src="images/folio/5.jpg" alt=""></a>
						</div>
						<!-- blog media end -->
						<div class="blog-text fl-wrap">
							<h3><a href="blog-single.html">Aliquip pertinax <strong>vix ad </strong></a></h3>
							<p>
								Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Donec suscipit
								ultricies risus sed mollis. Donec volutpat porta risus posuere imperdiet. Sed viverra dolor
								sed dolor placerat ornare ut . Integer iaculis tellus nulla, quis imperdiet magna venenatis
								vitae..
							</p>
							<a href="blog-single.html" class="btn float-btn flat-btn">Read more </a>
							<ul class="post-counter">
								<li><i class="fa fa-eye"></i><span>687</span></li>
								<li><i class="fa fa-comment-o"></i><span>10</span></li>
							</ul>
						</div>
					</div>
					<!-- post end-->
				</div>
				<!-- grid item end -->
			</div>
			<!-- grid item 04 end -->
			<div class="gallery-item">
				<div class="grid-item-holder">
					<!-- post -->
					<div class="post fl-wrap masonry-post">
						<h2><span>Integer iaculis tellus nulla</span></h2>
						<ul class="blog-title-opt">
							<li><a href="#">12 may 2017</a></li>
							<li> - </li>
							<li><a href="#">Interviews </a></li>
							<li><a href="#">Design</a></li>
						</ul>
						<!-- blog media -->
						<div class="blog-media fl-wrap">
							<div class="single-slider fl-wrap" data-effects="slide">
								<div class="swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide"><img src="images/folio/15.jpg" alt=""></div>
										<div class="swiper-slide"><img src="images/folio/12.jpg" alt=""></div>
										<div class="swiper-slide"><img src="images/folio/17.jpg" alt=""></div>
									</div>
									<div class="swiper-pagination"></div>
									<div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
									<div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
								</div>
							</div>
						</div>
						<!-- blog media end -->
						<div class="blog-text fl-wrap">
							<h3><a href="blog-single.html">Aliquip pertinax <strong>vix ad </strong></a></h3>
							<p>
								Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Donec suscipit
								ultricies risus sed mollis. Donec volutpat porta risus posuere imperdiet. Sed viverra dolor
								sed dolor placerat ornare ut . Integer iaculis tellus nulla, quis imperdiet magna venenatis
								vitae..
							</p>
							<a href="blog-single.html" class="btn float-btn flat-btn">Read more </a>
							<ul class="post-counter">
								<li><i class="fa fa-eye"></i><span>687</span></li>
								<li><i class="fa fa-comment-o"></i><span>10</span></li>
							</ul>
						</div>
					</div>
					<!-- post end-->
				</div>
			</div>
			<!-- grid item end -->
			<!-- grid item 05 -->
			<div class="gallery-item">
				<div class="grid-item-holder">
					<!-- post -->
					<div class="post fl-wrap masonry-post">
						<h2><span>Sed viverra dolor</span></h2>
						<ul class="blog-title-opt">
							<li><a href="#">12 may 2017</a></li>
							<li> - </li>
							<li><a href="#">Interviews </a></li>
							<li><a href="#">Design</a></li>
						</ul>
						<!-- blog media -->
						<div class="blog-media fl-wrap">
							<div class="iframe-holder">
								<div class="resp-video">
									<iframe src="https://player.vimeo.com/video/143356883" width="640" height="360" frameborder="0"
										webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
								</div>
							</div>
						</div>
						<!-- blog media end -->
						<div class="blog-text fl-wrap">
							<h3><a href="blog-single.html">Aliquip pertinax <strong>vix ad </strong></a></h3>
							<p>
								Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Donec suscipit
								ultricies risus sed mollis. Donec volutpat porta risus posuere imperdiet. Sed viverra dolor
								sed dolor placerat ornare ut . Integer iaculis tellus nulla, quis imperdiet magna venenatis
								vitae..
							</p>
							<a href="blog-single.html" class="btn float-btn flat-btn">Read more </a>
							<ul class="post-counter">
								<li><i class="fa fa-eye"></i><span>687</span></li>
								<li><i class="fa fa-comment-o"></i><span>10</span></li>
							</ul>
						</div>
					</div>
					<!-- post end-->
				</div>
			</div>
			<!-- grid item end -->
			<!-- grid item 06 -->
			<div class="gallery-item">
				<div class="grid-item-holder">
					<!-- post -->
					<div class="post fl-wrap masonry-post">
						<h2><span>Donec volutpat porta</span></h2>
						<ul class="blog-title-opt">
							<li><a href="#">12 may 2017</a></li>
							<li> - </li>
							<li><a href="#">Interviews </a></li>
							<li><a href="#">Design</a></li>
						</ul>
						<!-- blog media -->
						<div class="blog-media fl-wrap">
							<a href="blog-single.html"><img src="images/folio/2.jpg" alt=""></a>
						</div>
						<!-- blog media end -->
						<div class="blog-text fl-wrap">
							<h3><a href="blog-single.html">Aliquip pertinax <strong>vix ad </strong></a></h3>
							<p>
								Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Donec suscipit
								ultricies risus sed mollis. Donec volutpat porta risus posuere imperdiet. Sed viverra dolor
								sed dolor placerat ornare ut . Integer iaculis tellus nulla, quis imperdiet magna venenatis
								vitae..
							</p>
							<a href="blog-single.html" class="btn float-btn flat-btn">Read more </a>
							<ul class="post-counter">
								<li><i class="fa fa-eye"></i><span>687</span></li>
								<li><i class="fa fa-comment-o"></i><span>10</span></li>
							</ul>
						</div>
					</div>
					<!-- post end-->
				</div>
			</div>
			<!-- grid item end -->
			<!-- grid item 07 -->
			<div class="gallery-item">
				<div class="grid-item-holder">
					<!-- post -->
					<div class="post fl-wrap masonry-post">
						<h2><span>Donec volutpat porta</span></h2>
						<ul class="blog-title-opt">
							<li><a href="#">12 may 2017</a></li>
							<li> - </li>
							<li><a href="#">Interviews </a></li>
							<li><a href="#">Design</a></li>
						</ul>
						<!-- blog media -->
						<div class="blog-media fl-wrap">
							<a href="blog-single.html"><img src="images/folio/5.jpg" alt=""></a>
						</div>
						<!-- blog media end -->
						<div class="blog-text fl-wrap">
							<h3><a href="blog-single.html">Aliquip pertinax <strong>vix ad </strong></a></h3>
							<p>
								Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Donec suscipit
								ultricies risus sed mollis. Donec volutpat porta risus posuere imperdiet. Sed viverra dolor
								sed dolor placerat ornare ut . Integer iaculis tellus nulla, quis imperdiet magna venenatis
								vitae..
							</p>
							<a href="blog-single.html" class="btn float-btn flat-btn">Read more </a>
							<ul class="post-counter">
								<li><i class="fa fa-eye"></i><span>687</span></li>
								<li><i class="fa fa-comment-o"></i><span>10</span></li>
							</ul>
						</div>
					</div>
					<!-- post end-->
				</div>
			</div>
			<!-- grid item 07 end -->
		</div>
		<!-- grid items end -->
	</div>
	<!--=== post-container end ===-->

	<div class="clearfix"></div>

	<!--=== pagination ===-->
	<div class="container">
		<div class="content-nav blog-nav">
			<ul>
				<li><a href="blog.html" class="ln"><i class="fa fa fa-angle-left"></i>
						<span class="tooltip">Prev - Page 1</span></a></li>
				<li>
					<a href="#" class="cur-page"><span>Page 02. </span></a>
				</li>
				<li><a href="blog.html" class="rn"><i class="fa fa fa-angle-right"></i>
						<span class="tooltip">Next - Page 3 </span></a>
				</li>
			</ul>
		</div>
		<!--=== pagination end ===-->
	</div>
	<!--=== Posts-list end ===-->
</section>
{{ end }}
