{{define "home-slider" }}
<div class="fs-gallery-wrap home-slider fl-wrap full-height" data-autoplayslider="6000" data-slidereffect="fade">
	<div class="slide-progress-container">
		<div class="slide-progress-content">
			<div class="slide-progress-warp">
				<div class="slide-progress"></div>
			</div>
		</div>
	</div>
	<div class="swiper-container" data-scrollax-parent="true">
		<div class="swiper-wrapper">
			<!-- swiper-slide-->
			<div class="swiper-slide">
				<div class="bg" data-bg="images/bg/1.jpg" data-scrollax="properties: { translateY: '250px' }"></div>
			</div>
			<!-- swiper-slide end-->
			<!-- swiper-slide-->
			<div class="swiper-slide">
				<div class="bg " data-bg="images/bg/2.jpg" data-scrollax="properties: { translateY: '250px' }"></div>
			</div>
			<!-- swiper-slide end-->
			<!-- swiper-slide-->
			<div class="swiper-slide">
				<div class="bg" data-bg="images/bg/4.jpg" data-scrollax="properties: { translateY: '250px' }"></div>
			</div>
			<!-- swiper-slide end-->
		</div>
	</div>

	<div class="overlay"></div>

	<!--=== hero-wrap ===-->
	<div class="hero-wrap alt">
		<div class="container">
			<div class="hero-item">
				<h2>Anelixi Architecture <br> Studio</h2>
				<div class="clearfix"></div>
				<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
				<div class="clearfix"></div>
				<a href="portfolio.html" class="btn float-btn flat-btn">Our portfolio</a>
			</div>
		</div>
		<!--=== hero-wrap end ===-->
	</div>
</div>
{{ end }}

{{ define "content" }}
<!--=== Home-section-welcome ===-->
<section id="sec2" data-scrollax-parent="true">
	<div class="container">
		<div class="section-container fl-wrap">
			<div class="row">
				<div class="col-md-7">
					<div class="content-wrap about-wrap">
						<h3 class="bold-title">Καλωσήρθατε στην Ανέλιξη. Μία πρωτοβουλία για ενημέρωση γύρω από τη
							βιοκληματική αρχιτεκτoνική.</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie
							faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
							lacinia magna vel molestie faucibus.
							Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet,
							consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.
						</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie
							faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit.
						</p>
						<br><br>
						<h3 class="bold-title">What we do</h3>
						<div class="pr-tags fl-wrap">
							<span>Services : </span>
							<ul>
								<li><a href="#">Architecture</a></li>
								<li><a href="#">Design</a></li>
								<li><a href="#">Photography</a></li>
							</ul>
						</div>
						<span class="bold-separator"></span>
						<div class="clearfix"></div>
						<a href="portfolio.html" class="btn float-btn flat-btn">Our portfolio</a>
					</div>
				</div>
				<div class="col-md-5">
					<div class="box-item">
						<img src="images/folio/6.jpg" class="respimg" alt="" />
						<div class="overlay"></div>
						<a href="images/folio/6.jpg" class="image-popup popup-image"><i class="fa fa-search"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg dec-bg left-pos-dec" data-bg="images/bg/14.jpg"></div>
</section>
<!--=== Home-welcome end ===-->

<!--=== Home-news ===-->
<section>
	<div class="bg" data-bg="images/bg/4.jpg"></div>
	<div class="overlay"></div>
	<div class="container">
		<div class="intro-text fl-wrap">
			<h2>Νέα και Ενημερώσεις <br /> από το χώρο της βιοκλιματικής αρχιτεκτονικής</h2>
			<a href="services.html" class="btn float-btn flat-btn">ΑΡΘΡΑ</a>
			<a href="contact.html" class="btn float-btn flat-btn">ΣΥΝΕΡΓΑΤΕΣ</a>
		</div>
	</div>
</section>
<!--=== Home-news end ===-->

<!--=== Home-main-container ===-->
<section>

	<!--=== Home-featured-paralax ===-->
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="pr-title">
					Our Featured Work
					<span>Lorem Ipsum generators on the Internet tend to repeat king this the first true generator.
					</span>
				</div>
			</div>
		</div>
		<!--parallax-item -->
		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-7">
				<div class="parallax-item fl-wrap" data-scrollax-parent="true">
					<div class="parallax-header fl-wrap">
						<span>01.</span>
						<ul>
							<li><a href="#">Design</a></li>
							<li><a href="#">Architecture </a></li>
						</ul>
					</div>
					<img src="images/folio/2.jpg" alt="" />
					<div class="parallax-text left-pos" data-scrollax="properties: { translateY: '-250px' }">
						<h3><a href="portfolio-single.html">Theatre de Stoep</a></h3>
						<h4>There are many variations of passages of Lorem Ipsum</h4>
						<a href="portfolio-single.html" class="btn float-btn flat-btn">View project</a>
					</div>
				</div>
			</div>
		</div>
		<!--parallax-item end-->
		<!--parallax-item -->
		<div class="row">
			<div class="col-md-7">
				<div class="parallax-item fl-wrap" data-scrollax-parent="true">
					<div class="parallax-header fl-wrap">
						<span>02.</span>
						<ul>
							<li><a href="#">Design</a></li>
							<li><a href="#">Architecture </a></li>
						</ul>
					</div>
					<img src="images/folio/11.jpg" alt="" />
					<div class="parallax-text right-pos" data-scrollax="properties: { translateY: '-250px' }">
						<h3><a href="portfolio-single.html">New Acropolis Museum</a></h3>
						<h4>There are many variations of passages of Lorem Ipsum</h4>
						<a href="portfolio-single.html" class="btn float-btn flat-btn">View project</a>
					</div>
				</div>
			</div>
		</div>
		<!--parallax-item end-->
		<!--parallax-item -->
		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-7">
				<div class="parallax-item fl-wrap" data-scrollax-parent="true">
					<div class="parallax-header fl-wrap">
						<span>03.</span>
						<ul>
							<li><a href="#">Design</a></li>
							<li><a href="#">Architecture </a></li>
						</ul>
					</div>
					<img src="images/folio/16.jpg" alt="" />
					<div class="parallax-text left-pos" data-scrollax="properties: { translateY: '-250px' }">
						<h3><a href="portfolio-single.html">Theatre de Stoep</a></h3>
						<h4>There are many variations of passages of Lorem Ipsum</h4>
						<a href="portfolio-single.html" class="btn float-btn flat-btn">View project</a>
					</div>
				</div>
			</div>
		</div>
		<!--parallax-item end-->
		<!--parallax-item -->
		<div class="row">
			<div class="col-md-7">
				<div class="parallax-item fl-wrap" data-scrollax-parent="true">
					<div class="parallax-header fl-wrap">
						<span>04.</span>
						<ul>
							<li><a href="#">Design</a></li>
							<li><a href="#">Architecture </a></li>
						</ul>
					</div>
					<img src="images/folio/19.jpg" alt="" />
					<div class="parallax-text right-pos" data-scrollax="properties: { translateY: '-250px' }">
						<h3><a href="portfolio-single.html">New Acropolis Museum</a></h3>
						<h4>There are many variations of passages of Lorem Ipsum</h4>
						<a href="portfolio-single.html" class="btn float-btn flat-btn">View project</a>
					</div>
				</div>
			</div>
		</div>
		<!-- parallax-item end -->
	</div>
	<!--=== Home-featured-paralax end ===-->

	<!--=== particles ===-->
	<div class="partcile-dec" data-parcount="250"></div>
	<!--=== particles end ===-->

</section>
<!--=== Home-main-container end ===-->

<!--=== section-testimonials ===-->
{{ partial "testimonials" . }}
<!--=== testimonials end ===-->

<!--=== Home-clients ===-->
<section>
	<div class="container">
		<div class="clients-list fl-wrap"></div>
	</div>
</section>
<!--=== Home-clients end ===-->

<!--=== Home-social-wrap ===-->
<div class="social-wrap fl-wrap">
	<ul>
		<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
		<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
		<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
		<li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
		<li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
	</ul>
	<!--=== Home-social-wrap end ===-->
</div>
{{ end }}
