<footer class="content-footer">
	<div class="footer-inner">
		<div class="row">
			<div class="col-md-3">
				<a class="footer-logo" href="index.html"><img src="images/logo.png" alt=""></a>
			</div>
			<div class="col-md-4">
				<div class="footer-header fl-wrap"><span>01.</span> Contacts</div>
				<div class="footer-box fl-wrap">
					<ul>
						<li>
							<span>Mail :</span>
							<a href="admin [at] anelixi.com" rel="nofollow" target="_blank"
								onclick="this.href='mailto:' + '&#97;&#110;&#101;&#108;&#105;&#120;i&#46;&#119;e&#98;' + '&#64' + '&#103;&#109;&#97;&#105;&#108;&#46;&#99;o&#109;'">
								&#97;&#110;&#101;&#108;&#105;&#120;i&#46;&#119;e&#98;
								&#64; &#103;&#109;&#97;&#105;&#108;&#46;&#99;o&#109;
							</a>
						</li>
						<li> <span>Adress :</span><a href="#" target="_blank">USA 27TH Brooklyn NY</a></li>
						<li><span>Phone :</span><a href="#">+7(111)123456789</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-5">
				<div class="footer-header fl-wrap"><span>02.</span> Subscribe</div>
				<div class="footer-box fl-wrap">
					<div class="subcribe-form fl-wrap">
						<span>Newsletter</span>
						<form id="subscribe">
							<input class="enteremail" name="email" id="subscribe-email" placeholder="email" spellcheck="false"
								type="text">
							<button type="submit" id="subscribe-button" class="subscribe-button">Submit</button>
							<label for="subscribe-email" class="subscribe-message"></label>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-9">
				<div class="fl-wrap policy-box">
					<p> &#169; Anelixi {{ .Date.Year }} - All rights reserved. </p>
				</div>
			</div>
		</div>
		<div class="to-top"><i class="fa fa-long-arrow-up"></i></div>
	</div>
</footer>

<!--=== 01-content-holder end ===-->
</div>
<!--=== wrapper end ===-->
</div>

<!--=== search-form-holder ===-->
<div class="search-form-holder fixed-search">
	<div class="search-form-bg"></div>
	<div class="search-form-wrap">
		<div class="container">
			<form class="searchform" method="get">
				<input type="text" autocomplete="off" name="s" placeholder="Type and Enter to Search">
			</form>
			<div class="close-fixed-search"></div>
		</div>
		<div class="dublicated-text"></div>
	</div>
</div>
<!--=== search-form-holder end ===-->

<!--=== Share-container ===-->
<div class="share-wrapper isShare">
	<div class="share-container"></div>
</div>
<!--=== Share-container end ===-->

<!--=== leftbar-social ===-->
{{ partial "leftbar" . }}
<!--=== leftbar-social end===-->
</div>
<!--=== Main end ===-->

<!--=== scripts ===-->
<script type="text/javascript" src="{{ "js/jquery.min.js" | absURL }}"></script>
<script type="text/javascript" src="{{ "js/plugins.js" | absURL }}"></script>
<script type="text/javascript" src="{{ "js/scripts.js" | absURL }}"></script>

{{/*  <script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/plugins.js"></script>
<script type="text/javascript" src="../js/scripts.js"></script>  */}}
<!--=== scripts ===-->

</body>

</html>
