<!DOCTYPE HTML>
<html lang="en">

<head>
	<!--=== basic ===-->
	<meta charset="UTF-8">
	{{ partial "seo_schema" . }}
	<title>{{ .Title }}</title>
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="robots" content="index, follow" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<!--=== css ===-->
	<link href="{{ "css/reset.css" | absURL }}" rel="stylesheet" type="text/css">
	<link href="{{ "css/plugins.css" | absURL }}" rel="stylesheet" type="text/css">
	<link href="{{ "css/style.css" | absURL }}" rel="stylesheet" type="text/css">
	<link href="{{ "css/yourstyle.css" | absURL }}" rel="stylesheet" type="text/css">
	<!--=== favicons ===-->
	<link rel="shortcut icon" href="images/favicon.ico">
</head>

<body>

	<!--=== loader ===-->
	<div class="loader">
		<div id="movingBallG">
			<div class="movingBallLineG"></div>
			<div id="movingBallG_1" class="movingBallG"></div>
		</div>
	</div>
	<!--=== loader end ===-->
