<header class="main-header">
	<!--=== top-logo ===-->
	<a class="logo-holder" href="index.html">
		<img src="images/logo-helix.png" alt="anelixi logo" />
	</a>
	<!--=== top-logo end ===-->
	<!--=== share-button ===-->
	<div class="show-share-wrap">
		<div class="show-share">
			<span>Share</span>
			<img src="images/share.png" alt="share button" />
		</div>
	</div>
	<!--=== share-button end ===-->
	<!--=== search-button ===-->
	<div class="show-search show-fixed-search vissearch">
		<i class="fa fa-search"></i>
	</div>
	<!--=== search-button end ===-->
	<!--=== navigation ===-->
	{{ partial "nav" . }}
	<!--=== navigation end===-->
</header>
<!--=== wrapper ===-->
<div id="wrapper">
	<!--=== content-holder ===-->
	<div class="content-holder">
