<!--=== slider ===-->
<div class="fs-gallery-wrap home-slider fl-wrap full-height" data-autoplayslider="6000" data-slidereffect="fade">
	<div class="slide-progress-container">
		<div class="slide-progress-content">
			<div class="slide-progress-warp">
				<div class="slide-progress"></div>
			</div>
		</div>
	</div>
	<div class="swiper-container" data-scrollax-parent="true">
		<div class="swiper-wrapper">
			<!-- swiper-slide-->
			<div class="swiper-slide">
				<div class="bg" data-bg="images/bg/1.jpg" data-scrollax="properties: { translateY: '250px' }"></div>
			</div>
			<!-- swiper-slide end-->
			<!-- swiper-slide-->
			<div class="swiper-slide">
				<div class="bg " data-bg="images/bg/2.jpg" data-scrollax="properties: { translateY: '250px' }"></div>
			</div>
			<!-- swiper-slide end-->
			<!-- swiper-slide-->
			<div class="swiper-slide">
				<div class="bg" data-bg="images/bg/4.jpg" data-scrollax="properties: { translateY: '250px' }"></div>
			</div>
			<!-- swiper-slide end-->
			<!-- swiper-slide-->
			<div class="swiper-slide">
				<div class="bg" data-bg="images/bg/19.jpg" data-scrollax="properties: { translateY: '250px' }"></div>
			</div>
			<!-- swiper-slide end-->
		</div>
	</div>

	<div class="overlay"></div>

	<!--=== hero-wrap ===-->
	<div class="hero-wrap alt">
		<div class="container">
			<div class="hero-item">
				<h2>Anelixi Architecture <br> Studio</h2>
				<div class="clearfix"></div>
				<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
				<div class="clearfix"></div>
				<a href="portfolio.html" class="btn float-btn flat-btn">Our portfolio</a>
			</div>
		</div>
	</div>
	<!--=== hero-wrap end ===-->

</div>
<!--=== slider end ===-->
