<footer class="main-footer">
	<div class="fixed-title"><span>{{ .Title }}</span></div>
	<div class="footer-social">
		<ul>
			<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
		</ul>
	</div>
</footer>
