<section class="parallax-section header-section" data-scrollax-parent="true" id="sec6">
	<div class="bg" data-bg="images/bg/1.jpg" data-scrollax="properties: { translateY: '200px' }"></div>
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="pr-title">
					Testimonials
				</div>
			</div>
			<div class="col-md-8">
				<div class="single-slider testilider fl-wrap" data-effects="slide">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<!-- swiper-slide -->
							<div class="swiper-slide">
								<div class="testi-item fl-wrap">
									<h3>Andy Smith</h3>
									<p>"All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
										necessary, making this the first true generator on the Internet. It uses a dictionary of
										over 200 Latin words"</p>
									<a href="#" class="btn float-btn flat-btn" target="_blank">Via Twitter</a>
								</div>
							</div>
							<!-- swiper-slide end-->
							<!-- swiper-slide -->
							<div class="swiper-slide">
								<div class="testi-item fl-wrap">
									<h3>Liza Mirovsky</h3>
									<p>"Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non
										ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor
										sit amet sem non porta. Integer iaculis tellus nulla, quis imperdiet magna venenatis
										vitae"</p>
									<a href="#" class="btn float-btn flat-btn" target="_blank">Via Facebook</a>
								</div>
							</div>
							<!-- swiper-slide end-->
							<!-- swiper-slide -->
							<div class="swiper-slide">
								<div class="testi-item fl-wrap">
									<h3>Gary Trust</h3>
									<p>"If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
										anything embarrassing hidden in the middle of text."</p>
									<a href="#" class="btn float-btn flat-btn" target="_blank">Via Myspace</a>
								</div>
							</div>
							<!-- swiper-slide end-->
						</div>
						<div class="swiper-pagination"></div>
						<div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
						<div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
